<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product.ejs</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #04aa6d;
    }
    .container {
      text-align: center;
      justify-content: center;
    }
  </style>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="products">Product</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
    </ul>
    <div class="container">
      <% products.map((product)=>{ %>
      <h4><%= product.title %></h4>
      <p><%= product.description %></p>
      <% }) %>
    </div>
  </body>
</html>
